<%- include("../partials/header") %>

<div class="container">
	<div class="jumbotron text-center pt-2 pb-4">
		<h1 class="display-4">Welcome To YelpCamp! </h1>
		<p class="lead">View our hand-picked campgrounds all over the world.</p>
		<a class="btn btn-success btn-lg" href="campgrounds/new" role="button">Add Campground</a>
	</div>
</div>
<div class="container mt-3">
	<div class="mt-4">
		<div class="row" >
	<% campgrounds.forEach(function(campground){ %>
		<div class="col-12 col-sm-6 col-lg-4 col-xl-3 text-center">
			<div class="card d-inline-block allcard mb-3" >
			 <img src="<%= campground["url"] %>" class="card-img-top allimage">
			  <div class="card-body">
				<h5 class="card-title">
				  <%= campground["name"] %>
				  </h5>
				 <p class="card-text"><a href="/campgrounds/<%= campground["_id"] %>" class="btn btn-danger">More info</a></div>
		    </div>
		</div>	
	<% }) %>
	</div>
	</div>
</div>


<%- include("../partials/footer.ejs") %>
